html,body{height: 100%; width: 100%;}
#content{height: 100%; width: 100%; display: flex; flex-direction: column; font-size: .16rem;}

header{display: flex; width: 100%; height: .44rem; border-bottom: .02rem solid #666;background:honeydew;}
header #cancel{font-size: .24rem; width: 15%; height: .44rem; text-align: center; line-height: .44rem;color: orangered;}
header h3{font-size: .20rem; width:70%; height: .44rem; text-indent: 30%; line-height: .44rem; color: red;}
header #login{font-size: .20rem; width: 15%; height: .44rem; text-align: center; line-height: .44rem;color: orangered;}


section{flex:1; display: flex; flex-direction: column;}
section #user{height: .4rem ; width: 80%; margin: .1rem 10%; font-size: .2rem; line-height: .4rem;}
section #user label{height: .4rem; line-height: .4rem; display: inline-block;}
section #user input{border: 0; height: .36rem; width: 2.2rem; border: .02rem solid lightblue; text-indent: .1rem; margin: 0 .07rem;}

section #password{height: .4rem ; width: 80%; margin: .1rem 10%; font-size: .2rem; line-height: .4rem;}
section #password label{height: .4rem; line-height: .4rem; display: inline-block;}
section #password input{border: 0; height: .36rem; width: 2.2rem; border: .02rem solid lightblue; text-indent: .1rem; margin: 0 .07rem;}

section #btn{height: .36rem; width: 80%; margin: .15rem 10%; background: dodgerblue; color: #fff; text-align: center;
 line-height: .36rem; font-size: .2rem;}
section .ss{border-bottom: .04rem solid dodgerblue;}
section .cc{ padding-top: .1rem; text-align: center;}

footer{ width: 100%; height: .44rem; border-top: .02rem solid #666;display: flex;background: honeydew; display: flex; flex-direction: row;}
footer #index{flex:1; line-height: .44rem; text-align: center; color: #666;}
footer #bookrack{flex:1; line-height: .44rem; text-align: center;color: #666; }
footer #my_accounts{flex:1; line-height: .44rem; text-align: center; color: red;}